<div id="<%= dom_id timeline_episode %>">

  <p>
    <strong>Title:</strong>
    <%= timeline_episode.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= timeline_episode.content %>
  </p>

  <p>
    <strong>created_time:</strong>
    <%= timeline_episode.created_at %>
  </p>
  
</div>
