<h1>Editing episode</h1>

<%= render "form", episode: @episode %>

<br>

<div>
  <%= link_to "Show this episode", cloth_episode_path(@cloth, @episode) %>
  <%= link_to "Back to episodes", cloth_episodes_path(@cloth) %>
</div>
