<p style="color: green"><%= notice %></p>

<%= render @episode %>

<div>
  <%= link_to "Edit this episode", edit_cloth_episode_path(@cloth, @episode) %> 
  <%= link_to "Back to episodes", cloth_episodes_path %>


</div>
